:root{
    //paleta de cores
    --colorWhite-default: #FFFF;
    --colorGray-01: #0000;

    //cores primarias 
    --colorPrimary-01: #0F95E8;
    --colorPrimary-02: #023982;
    // font
    --font-family-01:sans-serif,"Itim", cursive;
    --font-family-02:"Inter", sans-serif;
    --font-size-default: 16px;
    //font weight ...
    --font-weight: 400;


  
}

