

.footer_Container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 250px;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colorPrimary-01);
    padding: 20px;
    margin-top: 20px;
}

.footer_Container div {
    display: flex;
    margin-top: 10px;
    gap: 50px;
}

.divider {
    width: 2px;
    height: 150px;
    background-color: var(--colorPrimary-02);
    margin-left: 10px;
}

.imgLogo {
    width: 100%;
    height: auto;
    margin-left: 90px;
}

.contact,
.address {
    text-align: center;
}

.contact h2,
.address h2 {
    font-size: 20px;
}

.contact p,
.address p {
    line-height: 1.2;
    color: var(--colorWhite-default);
}

.address p {
    font-size: 14px;
}

.socialIcons {
    display: flex;
  
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.socialIcons a {
    color: var(--colorPrimary-02);
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
   
}

.socialIcons a:hover {
    color: var(--colorWhite-default);
    transform: scale(1.1);
  
}
