@media(min-width:440px){


    .section_SchedulingBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    h2{
        font-size: 4rem;
        margin: 1.875rem;
        
    }
}
}


